<section>
    <center>
        <form action="/convert" enctype="multipart/form-data" method="POST">
            <h1>Xlsx to Docx</h1>
            <input type="file" name="template_file" multiple>
            <input type="file" name="data_file" multiple>
            <input type="submit" value="Convert" />
            <!--<button type="submit" formaction="/download">Download</button>-->
        </form>
    </center>
</section>