<section id="gigs" class="container">
    <center>
        <form action="/download" enctype="multipart/form-data" method="POST">
            <h1>Xlsx to Docx</h1>
            <p>You files are ready, click download button to download the file.</p>
            <button type="submit">Download</button>
        </form>
    </center>
</section>